In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
input_file = "dataset_Facebook_formated.csv"

In [3]:
data_frame = pd.read_csv(input_file)

In [4]:
df2 = data_frame.dropna()

In [9]:
df_mask=df2['Paid']==1

In [17]:
df_mask2=df2['Paid']==0

In [18]:
df_only_paid= df2[df_mask]

In [19]:
df_only_non_paid = df2[df_mask2]

In [20]:
df_only_paid

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,1,2,12,2,10,1,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
6,139441,1,3,12,1,3,1,11692,19479,481,265,364,15432,9328,379,3,249.0,27.0,279
7,139441,1,3,12,7,9,1,13720,24137,537,232,305,19728,11056,422,0,325.0,14.0,339
14,138414,1,2,12,4,5,1,22784,39941,887,337,417,34415,19312,684,2,577.0,20.0,599
17,138414,1,1,12,2,12,1,53264,111785,1706,1103,1655,92512,39776,1307,15,678.0,20.0,713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,86909,1,3,1,6,16,1,5754,9238,1179,1143,1452,6101,3546,420,0,65.0,19.0,84
476,86909,1,1,1,6,10,1,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
481,86491,2,1,1,4,4,1,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
491,85979,1,3,1,6,3,1,6184,10228,956,901,1140,6085,3502,437,1,105.0,46.0,152
499,81370,1,2,1,4,4,1,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [21]:
df_only_non_paid

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,1,2,12,4,3,0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,3,2,12,3,10,0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,1,3,12,3,3,0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
4,139441,1,2,12,2,3,0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
5,139441,3,2,12,1,9,0,10472,20849,1191,1073,1389,16034,7852,1016,1,152.0,33.0,186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
494,85093,1,3,1,7,10,0,5400,9218,810,756,1003,5654,3230,422,10,125.0,41.0,176
495,85093,1,3,1,7,2,0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,1,2,1,5,8,0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,1,1,1,5,2,0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,1,3,1,4,11,0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136

In [22]:
df_only_non_paid.mean()

Page total likes                                                       123078.129213
Type                                                                        1.266854
Category                                                                    1.901685
Post Month                                                                  7.058989
Post Weekday                                                                4.129213
Post Hour                                                                   8.033708
Paid                                                                        0.000000
Lifetime Post Total Reach                                               11974.314607
Lifetime Post Total Impressions                                         26926.283708
Lifetime Engaged Users                                                    856.668539
Lifetime Post Consumers                                                   751.882022
Lifetime Post Consumptions                                               1307.103933
Lifetime Post Impressions by people who have liked your Page            16844.084270
Lifetime Post reach by people who like your Page                         6128.727528
Lifetime People who have liked your Page and engaged with your post       594.676966
comment                                                                     6.573034
like                                                                      157.084270
share                                                                      25.219101
Total Interactions                                                        188.876404
dtype: float64

In [23]:
df_only_paid.mean()

Page total likes                                                       123116.600000
Type                                                                        1.271429
Category                                                                    1.850000
Post Month                                                                  6.907143
Post Weekday                                                                4.142857
Post Hour                                                                   7.335714
Paid                                                                        1.000000
Lifetime Post Total Reach                                               19180.300000
Lifetime Post Total Impressions                                         37148.150000
Lifetime Engaged Users                                                   1102.650000
Lifetime Post Consumers                                                   935.078571
Lifetime Post Consumptions                                               1723.178571
Lifetime Post Impressions by people who have liked your Page            17006.607143
Lifetime Post reach by people who like your Page                         7913.171429
Lifetime People who have liked your Page and engaged with your post       661.485714
comment                                                                    10.007143
like                                                                      234.614286
share                                                                      32.471429
Total Interactions                                                        277.092857
dtype: float64